.page-header {
	position: relative;
	min-height: 50vh;
	background: var(--quat);
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.page-banner {
	--page-banner-img: url(../assets/images/gallery/skygallery-7.jpg);
}

.page-intro {
	justify-content: space-between;

	margin-top: 5rem;
}

.aspect-ratio-wrap {
	margin-right: 1rem;
}

.intro-header {
	max-width: 60ch;
}

.page-intro > p {
	margin-top: 2rem;
}

.head-body-wrap.row {
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}

.cert-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10ch, 19ch));
	grid-gap: 1ch;
	justify-content: center;
	justify-items: center;
	align-items: center;

	flex-grow: 1;
}

.cert-item {
	display: inline-flex;
	flex-direction: column;
	align-items: center;

	max-width: 10ch;
	max-height: 10ch;

	width: 100%;
}

.cert-item img {
	width: 100%;
	height: 100%;
	max-width: 7ch;
	max-height: 7ch;
}

.cert-label {
	margin-top: var(--r2);
	text-align: center;
	line-height: 1.15;
}

.page-intro img {
	flex-grow: 1;
}

.philosophy > * + * {
	margin-top: 5rem;
}

.philosophy-list {
	padding: 0 var(--r4);
}

.philosophy-list > * + * {
	margin-top: var(--r4);
	border-top: 1px inset var(--body-dbg);
}

.philosophy-item {
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: var(--r7);
	padding-left: 8rem;
	min-height: 10rem;
	height: auto;

	background-color: var(--quat);

	counter-increment: services;
}

.philosophy-item::before {
	position: absolute;
	content: '0' counter(services) ' ';

	top: 0;
	bottom: 0;
	left: 0;

	font-size: 20rem;
	line-height: calc(1 / 1.2);
	color: var(--detail);
	opacity: 0.1;
}

.philosophy-item h3 {
	max-width: 65ch;
	color: var(--body-dbg);
}

.philosophy-item p {
	position: relative;
	padding-left: 0;
	color: var(--body-dbg);
	z-index: 1;
}

.philosophy-item::after {
	position: absolute;
	display: block;
	content: '';

	top: 3rem;
	left: 4rem;

	font-size: 7rem;
	font-size: 11vmin;
	line-height: calc(1 / 1.2);
	text-align: center;
	color: var(--bod-dbg);
	opacity: 0.1;
}

.philosophy-item:nth-child(1)::after {
	content: 'Communication';
}

.philosophy-item:nth-child(2)::after {
	content: 'Pride';
}

.philosophy-item:nth-child(3)::after {
	content: 'Respect';
}
