.page-header {
	position: relative;
	min-height: 50vh;
}

.page-banner {
	overflow-y: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: calc(var(--contact-strip-ht) + var(--navbar-ht));
	height: var(--page-banner-ht);

	background: url(../assets/images/sky.jpg) center no-repeat var(--sec);
}

.page-banner::before {
	position: absolute;
	display: block;
	content: "";
	background-color: var(--quad);
	background-color: #333;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 15vh);
	height: 100%;
	opacity: 0.6;
}

.banner-head {
	margin-left: 10vw;
	margin-right: auto;
	color: var(--prim);
	z-index: 1;
}

.main {
	padding: var(--r1);

	background: radial-gradient(
		circle at bottom center,
		var(--tert-l) 25%,
		var(--princeton-orange-l) 25%,
		var(--princeton-orange-l) 55%,
		var(--detail-l) 55%,
		var(--detail-l) 100%);
}

.about-page {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	align-content: center;
	gap: var(--r6);
	padding: var(--r4);

	/* background: var(--prim); */

	/* border-radius: 4px; */
}

.about-page .section-heading,
.about-page .sub-heading {
	/* margin-top: var(--r6); */
	width: 100%;
	text-align: center;
}

.about-page p,
.about-page ul {
	/* padding: var(--r4); */
	/* list-style: disc; */
}

.about-page li {
	/* padding-bottom: var(--r2); */
}

.ethos-list {
	list-style-position: inside;
	counter-reset: services;
}

.ethos-list > * + * {
	margin-top: var(--r4);
}

.ethos-item {
	overflow: hidden;
	position: relative;
	padding: var(--r7);
	padding-left: 8rem;

	counter-increment: services;

	background-color: var(--quat);
}

.ethos-item::before {
	position: absolute;
	content: "0" counter(services) " ";

	display: flex;
	align-items: center;

	top: 0;
	bottom: 0;
	left: 0;

	font-size: 7rem;
	line-height: 1;
	color: var(--detail);

	z-index: 0;
}

.ethos-item p {
	position: relative;
}

.ethos-item::after {
	position: absolute;
	display: block;
	content: "";
	margin-bottom: 0.25rem;

	right: 0;
	bottom: 0;
	left: 0;
	
	font-size: var(--h1-size);
	line-height: 1;
	text-align: center;
	color: var(--bod-dbg);
}

.ethos-item:nth-child(1)::after {
	content: "Big";
}

.ethos-item:nth-child(2)::after {
	content: "Ol'";
}

.ethos-item:nth-child(3)::after {
	content: "Pee-pee";
}

.article-image {
	max-width: calc(100% - (2 * var(--r4)));
	max-width: 100%;
	margin: var(--r4);

	/* border-radius: 50%; */
}


@media screen and (min-width: 48rem) {

	.main {
		padding-left: var(--r4);
		padding-right: var(--r4);
	}

	.about-page {
		grid-template-columns: 1fr 1fr;
	}

	.section-heading,
	.section-heading + p {
		grid-column: 1/2;
	}

	.section-heading {
		margin: 0;
	}

	.section-heading + p {
		text-align: justify;
	}

	.article-image {
		grid-column: 2/3;
		grid-row: 1/3;
	}

	.ethos {
		grid-column: 1/-1;
	}

	.ethos-list {
		margin-top: var(--r6);
	}

}

@media screen and (min-width: 64rem) {

}

/* @media screen and (min-width: 48rem) {
	.about {
		justify-content: space-evenly;
		flex-direction: row;
		flex-wrap: wrap;
		padding: var(--r6);
	}

	.about .section-heading {
		width: 100%;
		text-align: center;
	}

	.section-heading + p {
		width: 50%;
		max-width: 65ch;
	}
	
	.about p {
		padding: 0 var(--r4) 0 0;
		text-align: justify;
	}

	.about img {
		width: 50%;
		max-width: 700px;
	}

	.about img + .about p {
		width: 50%;
	}

	.about ul {
		
	}

	.article-image {
		margin: 0;
	}
}

@media screen and (min-width: 64rem) {
	.about {

		padding: var(--r6);
	}
	
	.about p {
		padding: 0 var(--r4) 0 0;
		text-align: justify;
	}

	.about ul {
		
	}

	.about .section-heading {
		width: 100%;
		text-align: center;
	}

	.article-image {
		margin: 0;
	}
} */

/* 
.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1;
	display: flex;
	flex-wrap: wrap;

	padding: var(--r6);
	grid-auto-flow: dense;
}

.about p {
	grid-column: 1/2;
	padding: 0 var(--r4) 0 0;
	text-align: justify;
}

.about ul {
	grid-column: 1/2;
	grid-row: 2/3;
}

.about .section-heading {
	grid-column: 1/-1;
	width: 100%;
	text-align: center;
}

.article-image {
	margin: 0;
	grid-column: 2/3;
} */