.page-header {
	position: relative;
	min-height: 50vh;
	background: var(--quat);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.page-banner {
	overflow-y: hidden;
	position: relative;
	display: grid;
	grid-template-columns: auto minmax(auto, 130ch) auto;
	align-items: center;
	justify-items: center;

	padding: 0 1rem;

	top: calc(var(--contact-strip-ht) + var(--navbar-ht));
	height: var(--page-banner-ht);

	background: var(--page-banner-img) center no-repeat;
	background-size: cover;
	--page-banner-img: url(../assets/images/contact-pavan-trikutam-unsplash.jpg);
}

.page-banner::before {
	position: absolute;
	display: block;
	content: "";
	background-color: var(--quat);
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 15vh);
	height: 100%;
	opacity: 0.6;
}

.page-banner .wrapper {
	grid-column-start: 2;
	padding-left: 1rem;
	width: 100%;
	
	z-index: 1;
}

.banner-heading {
	max-width: 25ch;
	font-size: var(--h5-size);
	font-weight: 500;

	color: var(--detail);
}

.banner-sub-heading {
	max-width: 25ch;
	font-size: var(--h3-size);
	color: var(--prim);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.main {
	/* padding: var(--r1); */
	margin-left: auto;
	margin-right: auto;
	/* padding: 0 var(--r4); */
	max-width: 1024px;
	max-width: 64rem;
	max-width: 130ch;
}

.contact-form .read-more {
	background-color: var(--detail);
	border-color: var(--detail);
	border-radius: 0px;
	box-shadow: 2px 3px 0px 1px var(--tert);
}

.contact-form .read-more:hover,
.contact-form .read-more:focus {
	box-shadow: 10px 10px 0px 1px var(--tert);
	transform: scale(1.05) translate(-2px, -2px);
}