@import url("./variables.css");
@import url("./utility-classes.css");
/* @import url("./about.css"); */

/* vvvvvvvvvv Basics + Resets vvvvvvvvvv */
.vport {
	margin: auto;
	background-color: var(--detail);
	padding: 1rem 0;
	text-align: center;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	font-size: var(--fluid-rem);
	font-family: var(--body-family);
	color: var(--body-lbg);
	line-height: var(--line-height);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: var(--h1-size);
	font-weight: var(--wt800)
}

h2 {
	font-size: var(--h2-size);
	font-weight: var(--wt700)
}

h3 {
	font-size: var(--h3-size);
	font-weight: var(--wt600)
}

h4 {
	font-size: var(--h4-size);
	font-weight: var(--wt500)
}
h5 {
	font-size: var(--h5-size);
	font-weight: var(--wt400)
}

h6 {
	font-size: var(--h6-size);
	font-weight: var(--wt400)
}

h1, h2, h3, h4, h5, h6 {
	color: var(--gunmetal);
}

/* ^^^^^^^^^^ Base Styles ^^^^^^^^^^ */

.page-wrapper {
	min-height: 100vh;
}

.main {
	/* padding: var(--r1); */
}

.section-heading {
	margin-bottom: var(--r6);
}

.section {
	padding: 2rem 0rem;
	/* min-height: 100vh; */
}

.section p {
	/* text-align: center; */
	/* line-height: 1.30; */
}

.read-more {

	transform: scale(1);
	transition: all 200ms;
}

article {
	/* margin: 2rem 1rem; */
	/* padding: 2rem 1rem; */
	/* min-height: 10vh; */
}

footer {
	min-height: 10vh;
}

/* Scrollbar */

::-webkit-scrollbar {
	background-color: black;

}

::-webkit-scrollbar-track {
	box-sizing: border-box;
	background-color: black;
}

::-webkit-scrollbar-thumb {
	background-color: var(--tert);

}


/* vvvvvvvvvv HEADER vvvvvvvvvv */
.hero-header {
	position: relative;
	min-height: 95vh; /** rough **/

	/* background: url(./assets/images/sky.jpg) center no-repeat var(--sec); */
	/* background: url(../assets/images/sky.jpg) center no-repeat var(--sec); */
}



/* .hero-header::before {
	position: absolute;
	display: block;
	content: "";
	background-color: var(--quad);
	background-color: #333;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 7.5rem);
	opacity: 0.6;

} */

.hero-banner {
	overflow-y: hidden;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	top: calc(var(--contact-strip-ht) + var(--navbar-ht));
	height: var(--hero-banner-ht);

	background: url(../assets/images/sky.jpg) center no-repeat var(--sec);
}

.hero-banner::before {
	position: absolute;
	display: block;
	content: "";
	background-color: var(--quad);
	background-color: #333;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 15vh);
	height: 100%;
	opacity: 0.6;
}

.cta-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin: auto;
	padding: 1rem;

	background-color: var(--sec-50);

	z-index: 10;
}

.cta-wrap::before {
	position: absolute;
	display: block;
	content: "";

	width: 130%;
	height: 165%;
	left: -10px;
	top: -10px;

	/* border: 4px solid var(--prim); */
	border-left: 4px solid var(--prim);
	border-top: 4px solid var(--prim);

	/* z-index: -1; */
}

.cta-wrap::after {
	position: absolute;
	display: block;
	content: "";

	width: 130%;
	height: 165%;
	right: -10px;
	bottom: -10px;

	/* border: 4px solid var(--prim); */
	border-right: 4px solid var(--prim);
	border-bottom: 4px solid var(--prim);

	/* z-index: -1; */
}

.cta-wrap h1,
.cta-wrap button {
	position: relative;
	color: var(--prim);

	z-index: 5;
}

.cta-wrap > button {
	margin: var(--r6) 0 var(--r4) auto;
}

header .accent-span {
	color: var(--detail);

}
header h1 .accent-span:last-child {
	font-style: italic;
}

.cta {
	border: 2px solid var(--prim);
}

/* ^^^^^^^^^^ HEADER ^^^^^^^^^^ */

/* vvvvvvvvvv NAVIGATION vvvvvvvvvv */
.navlink {
	text-transform: uppercase;
}

.contact-strip {
	position: fixed;
	display: flex;
	right: 0;
	left: 0;
	height: var(--contact-strip-ht);
	background-color: var(--prim);
	opacity: 1;

	transition: visibility 0ms linear 0ms,
							opacity 150ms ease 5ms;
	z-index: 100;
}

.contact-list {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
}

.contact-link {
	padding: 1rem;
}

.navbar {
	position: fixed;
	width: 100%;
	top: var(--contact-strip-ht);
	height: var(--navbar-ht);

	align-items: center;
	background-color: var(--quat);
	opacity: 1;

	transition: visibility 0ms linear 0ms,
							opacity 150ms ease 5ms;
	z-index:100;
}

.scroll-hide {
	visibility: hidden;
	opacity: 0;

	transition: visibility 0ms linear 155ms,
							opacity 150ms ease 0ms;
}

.nav-logo > img {
	width: var(--navbar-ht);
}

.nav-menu {
	position: fixed;
	top: calc(var(--contact-strip-ht) + var(--navbar-ht));
	right: -100%;

	height: 100%;
	width: calc(100% - var(--navbar-ht));

	letter-spacing: .1rem;
	font-weight: var(--wt700);

	background-color: var(--quat);
	transition: 100ms;

	z-index: 100;
}

/* Hiding Testimonials Link until it actually exists. */
.nav-menu li:nth-child(5) {
	display: none;
}

	/* Expand the mobile menu */
.expanded {
	right: 0;
}

.navlink {
	position: relative;
	display: block;

	padding: 1.5rem;

	text-align: center;
	color: var(--prim);

	transition: 200ms; /** No transition in mobile **/
}

	/* Using pseudo elements to capture an underline effect for :hover && :active states*/
.navlink::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	height: 0.2rem;
	width: 100%;

	opacity: 0;

	background: var(--detail);
	background: linear-gradient(90deg, rgba(250,159,66,0) 0%, rgba(250,159,66,0.2) 30%, rgba(250,159,66,1) 50%, rgba(250,159,66,0.2) 70%, rgba(250,159,66,0) 100%);

	transition: opacity 100ms ease-in;
}

	/* --The hover effect will be rerserved for desktops, but I am using it here to help me visualize things. */
.navlink:hover {
	position: relative;
}

.navlink:hover::after {
	opacity: 1;
}

.active-link {
	color: var(--detail);
}

.active-link::after {
	opacity: 1;
}

.hamburger {
	position: relative;
	margin-right: .5rem;
	
	width: 3rem;
	height: 3rem;

	border-radius: 2px;
	background-color:var(--quat);
}

.hamburger > span {
	position: relative;
	display: block;
	
	width: 100%;
	height: 4px;

	border-radius: 1px;
	color: var(--prim);
	background-color: var(--prim);
	opacity: 1;

	transition: 150ms;
}

	/* Hamburger Open/Close state + transition */
.hamburger.open > span {
	position: absolute;
}

.hamburger.open > span:nth-child(1) {
	transform: rotate(45deg);
	transform-origin: center center;
}

.hamburger.open > span:nth-child(2) {
	opacity: 0;
}

.hamburger.open > span:nth-child(3) {
	transform: rotate(-45deg);
	transform-origin: center center;
}

/* ^^^^^^^^^^ NAVIGATION ^^^^^^^^^^ */

/* vvvvvvvvvv HOME--FEATURED SERVICES vvvvvvvvvv */

/* .features {
	background: rgb(121,9,22);
	background: radial-gradient(
		circle at bottom center,
		rgba(121,9,22,1) 25%,
		rgba(255,179,0,1) 25%,
		rgba(255,179,0,1) 100%);

	} */
.features {
	background: radial-gradient(
		circle at bottom center,
		var(--tert-l) 25%,
		var(--princeton-orange-l) 25%,
		var(--princeton-orange-l) 55%,
		var(--detail-l) 55%,
		var(--detail-l) 100%);
}

.features p {
	max-width: 65ch;
	background: hsla(0deg, 0%, 100%, 0.2);
}

.tile-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(3, minmax(auto, 200px));
	grid-template-columns: repeat(3, minmax(auto, 10rem));
	/* grid-template-columns: repeat(3, 1fr); */

	justify-items: center;
	justify-content: center;
	align-items: center;

	background: hsla(0deg, 0%, 0%, 0.2);
	background: hsla(0deg, 0%, 0%, 0.2);
}

.service-card {
	padding: var(--r4) var(--r2);
	/* temp dimensions */
	height: calc((100vw - 2rem) / 3);
	max-height: 200px;
	max-height: 10rem;
	
	width: 100%;
	max-width: 200px; 
	max-width: 10rem; 
	/* temp dimensions */
	line-height: 1.25;

	/* outline: solid 2px var(--quat); */
}

.service-card,
.cert-card {
	align-items: center;
	text-align: center;
}

.service-card > img, 
.cert-card > img {
	margin: auto;
	max-width: 40%;
}

.service-card h6 {
	margin: auto;
	font-weight: 600;
}

.cert-card h4 {
	font-size: var(--h6-size);
}

.credentials {
	display: none;
}

.features .read-more {
	min-width: max-content;
	margin-left: 50%;
	margin-right: 50%;

	background-color: var(--detail);
	border-color: var(--detail);
	border-radius: 0px;
	box-shadow: 2px 3px 0px 1px var(--tert);
}

.features .read-more:hover,
.features .read-more:focus {
	box-shadow: 10px 10px 0px 1px var(--tert);
	transform: scale(1.05) translate(-2px, -2px);
}


/* ^^^^^^^^^^ HOME--FEATURED SERVICES ^^^^^^^^^^ */

/* vvvvvvvvvv HOME--ABOUT US vvvvvvvvvv */

.about {
	background-color: var(--quat);
	color: var(--body-dbg);
}

.about .section-heading {
	color: var(--detail);
}

.about p {
	max-width: 60ch;
}

.about img {
	opacity: 0;
}

.about .image-wrapper {
	position: relative;
	margin: var(--r4);
	max-width: 60ch;

	/* background-color: var(--tert); */
	background: 
	url(../assets/images/aboutsky.jpg)
	var(--quat);


	background-blend-mode: luminosity;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.about .read-more {
	background-color: var(--detail);
	border-color: var(--detail);
	border-radius: 0px;
	box-shadow: 2px 3px 0px 1px var(--tert);
}

.about .read-more:hover,
.about .read-more:focus {
	box-shadow: 10px 10px 0px 1px var(--tert);
	transform: scale(1.05) translate(-2px, -2px);
}

/* .about .image-wrapper::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(121,9,22,0.5) 0%, rgba(121,9,22,0.5) 100%);
	background-blend-mode: luminosity;
} */


/* ^^^^^^^^^^ HOME--ABOUT US ^^^^^^^^^^ */

/* vvvvvvvvvv HOME--PROJECTS vvvvvvvvvv */

.projects {
	background-color: var(--detail);
	background-color: var(--deep-saffron-lbg);
}

.projects-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	justify-content: space-evenly;
	/* justify-content: stretch; */
}

.projects .image-wrapper {
	position: relative;
	overflow: hidden;
	display: flex;
	flex: 1 1 100%;
	height: 7.5rem;
	background-color: var(--quat);
	/* outline: 1px dashed var(--prim); */
}

.projects .image-wrapper::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;

	background-color: var(--quat);
	opacity: 0.5;
	/* z-index: 1; */
}

.projects-gallery img {
	/* display: inline; */
	object-fit: cover;
	object-position: 50% 100%;
	/* height: calc((100vw - 2rem) / 2); */
	height: 7.5rem;
	/* max-height: 10rem; */
	/* width: calc((100vw - 2rem) / 2); */
	width: 100%;
	/* width: 100%; */
}

.projects .read-more {
	background-color: var(--detail);
	border-color: var(--detail);
	border-radius: 0px;
	box-shadow: 2px 3px 0px 1px var(--tert);
}

.projects .read-more:hover,
.projects .read-more:focus {
	box-shadow: 10px 10px 0px 1px var(--tert);
	transform: scale(1.05) translate(-2px, -2px);
}



/* ^^^^^^^^^^ HOME--PROJECTS ^^^^^^^^^^ */

/* vvvvvvvvvv HOME--TESTIMONIALS vvvvvvvvvv */

	.testimonials {
		background: var(--quat);
	}

	.testimonials .section-heading {
		color: var(--detail);
	}

	.testimonial-gallery {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: space-between;

		background: hsla(0deg, 0%, 100%, 0.5);
		box-shadow: 2px 4px 5px 2px hsla(0deg, 0%, 0%, 0.5);
	}

	.testimonial-card {
		margin: 1rem;
		padding-top: 2rem;
		background-color: var(--prim);

		/* border: 1px solid var(--quat); */
		border-radius: 4px;
		box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
	}

	.testimonial-card > img {
		margin: 0 auto 2rem auto;
		clip-path: circle(50% at 50% 50%);
		width: 25%;
		/* border-radius: 50%; */
	}

	.star-bar {
		margin: 1rem;
		padding: 1rem;
		height: 4rem;
		
		border-radius: 5px;
		box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.2);
	}

	.star-bar img {
		fill: var(--detail);
	}
	.excerpt {
		/* test dimensions */
		margin: 1rem;
		padding: 1rem;
		min-height: 10rem;
		/* test dimensions */
	}

	.customer {
		display: block;
		padding-top: 1rem;
		font-style: italic;
	}
 
/* ^^^^^^^^^^ HOME--TESTIMONIALS ^^^^^^^^^^ */

/* vvvvvvvvvv HOME--CONTACT vvvvvvvvvv */

	.contact-process {
		display: none;
		padding: var(--r4) 0;
		height: min-content;
	}

	.form-map-container {
		padding : var(--r4) 0;
	}

	.process-cards {
		/* temp dimensions */
		justify-content: center;
		align-items: center;
		width: 5rem;
		height: 5rem;
		/* temp dimensions */

		color: var(--detail);
		background-color: var(--sec);
		border-radius: 50%;
	}

	.process-cards p {
		font-size: var(--h1-size);
		font-weight: var(--wt900);
	}

	.contact-form-ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		line-height: 1.5;
	}

	.contact-form-ul li + * {
		margin-top: var(--r4);
	}

	.contact-form-ul span {
		text-transform: capitalize;
		font-weight: 700;
	}

	.contact-form-ul > li {
		display: grid;
		grid-template-columns: 5rem 1fr;
		grid-template-rows: 1fr 1fr;
		justify-content: center;
		align-items: center;
		gap: 0.25rem 1rem;

		margin-right: var(--r4);
		margin-left: var(--r4);
		padding: var(--r3) 0;
	}

	.contact-form-ul li:last-child {
		margin-bottom: var(--r4);
		padding: 0;
		grid-template-columns: 5rem 1fr;
		justify-content: stretch;
	}

	.contact-form-ul i {
		grid-area: 1/1/3/2;

		text-align: right;
		font-size: var(--h1-size);
		color: var(--detail);
	}

	.map {
		grid-area: 1/1/-1/-1;
		padding: 0;
		
		width: 100%;
		/* max-width: 100%; */
		/* height: auto; */
	}

	
	.contact-form {
		padding: var(--r5);
		
		text-align: center;
		background-color: var(--quat);
	}

	.form-heading {
		color: var(--detail);
	}

	.label-input-wrap {
		box-shadow: 3px 3px 5px 3px var(--quat); 
	}

	.form-label {
		color: var(--body-dbg);
	}

	.form-input {
		display: block;
		/* temp stuff */
		padding: var(--r3);
		width: 100%;
		/* temp stuff */
	
		text-align: left;
		color: var(--quat);
		background-color: var(--detail-l);
		/* border: 1px solid var(--detail); */
		border-radius: 0px;
	}

	.contact-form .read-more {
		background-color: var(--detail);
		border-color: var(--detail);
		border-radius: 0px;
		box-shadow: 2px 3px 0px 1px var(--tert);
	}
	
	.contact-form .read-more:hover,
	.contact-form .read-more:focus {
		box-shadow: 10px 10px 0px 1px var(--tert);
		transform: scale(1.05) translate(-2px, -2px);
	}

	/* ----------------TEST CSS FOR INPUT IDEA-------------- */
	
	.label-input-wrap {
		position: relative;
		overflow-x: hidden;
	}

	.test-label {
		position: absolute;

		width: 100%;
		height: 100%;
	  bottom: 0px;
	  bottom: 0px;
		left: 0%;

		border-bottom: 1px solid black;
		pointer-events: none;

	}

	.test-label::after {
		content: "";
		position: absolute;

		height: 100%;
		width: 100%;
		left: 0;
		bottom: -1px;
		border-bottom: 3px solid var(--detail);

		transform: translateX(-100%);
		transition: all 200ms ease;

	}

	.test-label-span {
		position: absolute;
		top: 5px;
		left: 0px;

		transition: all 200ms ease;
	}

	/* .test-input {
		border: none;
		background-color: var(--sec);
		border: none;
		padding-top: 20px;

		outline: none;
	} */
	.test-input {
		border: none;
		background-color: var(--prim);
		border-radius: 0px;
		padding-top: 20px;

		outline: none;
	}


	/* The + selector chooses whatever is below the root selector, in this case the root is form .test-input:focus. */
	/* This may necessitate the label being shifted below the input in the HTML document, but I dislike that structure, so we'll carry on with this for now and then I'll see if I can reverse engineer it to be less subversive to standard */
	form .test-input:focus + .test-label .test-label-span,
	form .test-input:valid + .test-label .test-label-span {
		transform: translateY(-150%);
		font-size: .75rem;
		color: var(--detail);
	}

	form .test-input:focus + .test-label::after,
	form .test-input:valid + .test-label::after {
		transform: translateX(0%);
	}


	/* ----------------TEST CSS FOR INPUT IDEA-------------- */


/* ^^^^^^^^^^ HOME--CONTACT ^^^^^^^^^^ */

/* vvvvvvvvvv HOME--FOOTER vvvvvvvvvv */

footer {
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: var(--prim);
	background-color: var(--quat);
}


/* ^^^^^^^^^^ HOME--FOOTER ^^^^^^^^^^ */




/* vvvvvvvvvv Mobile Styles vvvvvvvvvv */

@media screen and (min-width: 20rem) {

}

/* ^^^^^^^^^^ Mobile Styles ^^^^^^^^^^ */



/* vvvvvvvvvv Small Tablet Styles vvvvvvvvvv */

@media screen and (min-width: 48rem) {

	/* ABOUT */

	.section {
		padding: 2rem 0rem;
	}

	.section.about {
		display: grid;
		grid-template-columns: 1fr 1fr;

		padding: var(--r6);
	}
	
	.section.about p {
		grid-column: 1/2;
	}

	.about p {
		padding: 0 var(--r4) 0 0;
		text-align: justify;
	}

	.about header {
		grid-area: 1/1/2/-1;
	}

	.section.about button {
		grid-column: 1/-1;
	}

	/* PROJECTS */

	.projects-gallery {
		flex-wrap: nowrap;
		/* height: 30rem; */
	}

	.projects .image-wrapper {
		height: 30rem;
	}

	.projects-gallery img {
		/* This is dumb and hacky, but it works for now. Basically doing the calc() to accomodate JUST the available space makes the total width of the images overshoot the available space by like... 0.0187 pixels or something ((thanks, sig-figs)). Anyway, I just subtracted an extra pixel from the available space to give the same effect with nearly imperceptible difference */
		/* height: calc((100vw - 2rem - 1px) / 3);
		width: calc((100vw - 2rem - 1px) / 3); */
		object-fit: cover;
		height: 30rem;
	}


	/* TESTIMONIALS */

	.testimonial-gallery {
		flex-direction: row;
	}


	/*  CONTACT */

	.form-map-container {
		display: flex;
	}
	
	.contact-form-ul {
		flex-grow: 1;
		line-height: 1.5;
	}

	.contact-form-ul li:last-child {
		margin-bottom: 0;
	}

	.contact-form {
		flex-grow: 2;
	}
}

/* ^^^^^^^^^^ Small Tablet Styles ^^^^^^^^^^ */



/* vvvvvvvvvv Large Tablet Styles || Laptop MDPI Display vvvvvvvvvv */

@media screen and (min-width: 64rem) {

	/* VARIABLE CHANGE */
	:root {
		--navbar-ht: 15vh;
	}


	/* NAVIGATION */
	.navbar {
		overflow: hidden;
	}

	.nav-menu {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		top: var(--contact-strip-ht);
		top: 0;
		right: 0;

		height: var(--navbar-ht);
		width: 100%;

		letter-spacing: .11rem;
		font-weight: var(--wt500);

		/* background-color: var(--quat); */
		transition: 100ms;

		z-index: 100;
		
	}

	.nav-menu > li {
		margin-left : auto;
	}

	/* .nav-menu > li:first-child {
		overflow: hidden;
	} */

	.nav-logo > img {
		width: 15vw;
	}

	.hamburger {
		display: none;
	}

	.navlink {
		display: inline-block;

		padding: var(--r2) var(--r4);
		/* width: 12ch; */

		text-align: center;
	}

	/* SERVICES */

	.features {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.features header {
		width: 100%;
		text-align: center;
	}

	.features p {
		width: 50%;
		max-width: 50ch;
		text-align: justify;

	}

	.feat-service-gallery {
		padding: var(--r4) var(--r4);
		max-width: 50%;
		max-width: max-content;
	}

	.service-card{
		height: calc((100vw - 2rem) / 6);
	}

	/* ABOUT */

	.section.about {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr auto;
		justify-content: center;
	
		padding: var(--r6);
	}
	
	.about header {
		grid-area: 1/1/2/2;
	}
	
	.about p {
		grid-area: 2/1/3/2;
	}
	
	.about .image-wrapper {
		grid-area: 1/2/3/3;
		margin: 0 var(--r4);
	}

	/* PROJECTS */

	.projects-gallery img {
		/* Wow, if only chrome would get it's shit together so I didn't have to account for the scrollbar? I guess FF has spoiled me with handling things like this automatically.*/
		/* height: calc((100vw - 2rem - 17px) / 4); */
		/* The code below does not actually work for height, because the % unit accounts for the height % and not the width, maybe I'll try to customize the scrollbar width and attach it to a custom property so I don't need to use the 17px that seems to be standard? Plus I get to make a cool bar */
		/* height: calc((100vw - 2rem - (100vw - 100%)) / 4); */
		/* width: calc((100vw - 2rem - (100vw - 100%)) / 4); */
	}

	/* TESTIMONIALS */

	.testimonial-gallery {
		justify-content: space-evenly;
	}

	.testimonial-card {
		max-width: 30vw;
	}


	/* CONTACT */

	.form-map-container {
		max-width: 1600px;
		justify-content: space-around;
	}

	.contact-form-ul {
		flex-grow: 1;
		max-width: 700px;
	}

	.contact-form-ul li:last-child {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	iframe.map {
		margin: 0 auto;
		height: 100%;
		width: 85%;
	}

	.contact-form  {
		margin: 0 auto;
		flex-grow: 1;
		/* max-width: 800px; */
	}

	.label-input-wrap {
		margin-left: auto;
		margin-right: auto;
		max-width: 70%;
	}

}

/* ^^^^^^^^^^ Large Tablet Styles || Laptop MDPI Display ^^^^^^^^^^ */



/* vvvvvvvvvv Desktop Styles vvvvvvvvvv */

@media screen and (min-width: 90rem) {
	
}

/* ^^^^^^^^^^ Desktop Styles ^^^^^^^^^^ */

/* Use these later? I accidentally built the menu desktop-first, again ;-; */

/* .nav-menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	background-color: var(--quat);
}

.nav-menu > li {
	margin : 0 auto
}

.hamburger {
	padding: .1rem .2rem;
	width: 3.2rem;
	height: 3rem;

	border: 1px solid var(--quat);
	border-radius: 2px;
	background-color:var(--quat);

	box-shadow: 1px 1px 0px 0px darkgoldenrod,
							2px 2px 0px 0px darkgoldenrod;
}

.hamburger > span {
	display: block;

	width: 100%;
	height: 4px;

	border-radius: 1px;
	color: var(--prim);
	background-color: var(--prim);
}

.navlink {
	display: inline-block;

	padding: 1rem;
	width: 12ch;

	text-align: center;

	color: var(--prim);
	background-color: var(--sec);
}

.nav-menu > li:first-child {
	margin: 0 auto 0 0;
}


.nav-menu > li:first-child > .navlink {
	height: 10vh;
	width: 10vw;

	align-self: flex-end;

	background-color:var(--tert);
} */
