.expanded-services {

	background-color: var(--quat);
	/* outline: var(--section); */
}

.service-article {
	margin: var(--r1) var(--r2);
	padding: 0;
	background-color: var(--prim);
	/* outline: var(--component); */
}

.service-article h2 {
	margin-bottom: var(--r3);
}

.service-article p {

}